<div class="jumbotron jumbotron-fluid">
<form>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="{{ this.avatar }}" (error)="noAvatar()" alt="profile picture" width="250px" class="img-thumbnail mx-auto d-block">
      </div>
      <div class="col-sm">
        <br><br><br><br><br><br><br>
        <label for="newAvatar">Change your profile picture</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file"  id="newAvatar" (change)="onFileSelected($event)">
              <button class="btn btn-primary" id="btnUploadAvatar" (click)="uploadAvatar()">Upload</button>
            </div>    
          </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="container">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="this.loggedUser.name" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" [(ngModel)]="this.loggedUser.age" class="form-control" id="age" name="age">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" [(ngModel)]="this.loggedUser.email" class="form-control" id="email" name="email">
      </div>
      <div>
        <label for="createdAt">Created at: </label>
        <p id="createdAt">{{ this.loggedUser.createdAt | date:'dd. MMMM y. HH:mm' }}</p>
      </div>
      <div>
        <label for="updatedAt">Updated at: </label>
        <p id="updatedAt">{{ this.loggedUser.updatedAt | date:'dd. MMMM y. HH:mm' }}</p>
      </div>
      <button type="submit" class="btn btn-primary" (click)="updateUser()">Update profile</button>
      <button type="submit" class="btn btn-danger float-right" (click)="deleteUser()">Delete profile</button>
  </div>
  </form>
</div>
<!-- property label -> input field -> edit profile -> delete profile -> profile pic -->